import cats.effect.*
import cats.*
import cats.implicits.*
import cats.effect.IO.{IOCont, Uncancelable}

import config.AppConfig
import modules.{Database, HttpApi}
import pureconfig.*
import org.http4s.ember.server.EmberServerBuilder

object App extends IOApp.Simple {

  override def run: IO[Unit] = AppConfig.load[IO]
    .flatMap {
      case AppConfig(serverConfig, databaseConfig) =>

        val appResources = for {
          xa <- Database.makePostgres[IO](databaseConfig)
          httpResource <- HttpApi.make[IO]()
          server <- EmberServerBuilder
            .default[IO]
            .withHost(serverConfig.host)
            .withPort(serverConfig.port)
            .withHttpApp(httpResource.httpApp)
            .build
        } yield server

        appResources.use(s =>
          IO.println(s"🚀 Server started at http://${serverConfig.host}:${serverConfig.port}")
          *> IO.never)
    }

}