package config

import pureconfig.ConfigSource
import com.comcast.ip4s.{Host, Port}
import pureconfig.ConfigReader
import pureconfig.generic.derivation.default.*
import cats.effect.Sync

case class AppConfig(serverConfig: ServerConfig, databaseConfig: DatabaseConfig) derives ConfigReader

object AppConfig {
  def load[F[_] : Sync]: F[AppConfig] = {
    Sync[F].delay {
      // Load from application.conf
      val config = ConfigSource.default.loadOrThrow[AppConfig]

      // Override with env vars
      config.copy(
        serverConfig = config.serverConfig.copy(
          host = sys.env.get("SERVER_HOST").flatMap(s => Host.fromString(s) ).getOrElse(config.serverConfig.host),
          port = sys.env.get("SERVER_PORT").flatMap(s => Port.fromInt(s.toInt)).getOrElse(config.serverConfig.port)
        ),
        databaseConfig = config.databaseConfig.copy(
          url = sys.env.getOrElse("DATABASE_URL", config.databaseConfig.url),
          user = sys.env.getOrElse("DATABASE_USER", config.databaseConfig.user),
          pass = sys.env.getOrElse("DATABASE_PASSWORD", config.databaseConfig.pass)
        )
      )
    }
  }
}