package templates.typeLevel.config

import com.comcast.ip4s.{Host, Port}

final case class ServerConfig(host: Host, port: Port) derives ConfigReader

object ServerConfig {
 given hostReader: ConfigReader[Host]  = ConfigReader[String].emap { hostString =>
   Host
     .fromString(hostString)
     .toRight(
       CannotConvert(hostString, Host.getClass.toString, s"Invalid host string: $hostString"))
 }
 
 given portReader: ConfigReader[Port] = ConfigReader[Int].emap{ portNumber =>
   Port
     .fromInt(portNumber)
     .toRight(
       CannotConvert(portNumber.toString, Port.getClass.toString, s"Invalid port number: $portNumber")
     )
 }
}
