package modules

import cats.effect.{Async, Resource}
import doobie.hikari.HikariTransactor
import doobie.util.ExecutionContexts
import config.DatabaseConfig

object Database {
  def makePostgres[F[_]: Async](databaseConfig: DatabaseConfig): Resource[F, HikariTransactor[F]] =  for {
    ec <- ExecutionContexts.fixedThreadPool(databaseConfig.nThreads)
    xa <- HikariTransactor.newHikariTransactor[F](
      "org.postgresql.Driver",
      databaseConfig.url,
      databaseConfig.user,
      databaseConfig.pass,
      ec
    )
  } yield xa
}

