package modules

import cats.Monad
import cats.effect.Resource
import routes.http.HealthRoutes
import org.http4s.HttpRoutes
import org.http4s.server.Router
import org.http4s.server.middleware.{AutoSlash, CORS}

import scala.concurrent.duration.DurationInt

object HttpApi {
  def make[F[_]: Monad](): Resource[F, HttpApi[F]] =
    Resource.eval(summon[Monad[F]].pure(new HttpApi[F] {}))

}

sealed abstract trait HttpApi [F[_]: Monad] {

  // open routes
  val healthRoutes = HealthRoutes[F]().routes


  val routes = Router(
    "/v1-api" -> healthRoutes
  )

  //  custom policy
  val corsMiddleware = CORS.policy
    .withAllowOriginAll
    .withAllowMethodsAll
    .withAllowCredentials(false)
    .withMaxAge(1.day)

  val httpApp = corsMiddleware(AutoSlash(routes)).orNotFound

}
